<div class="full-width" style="text-align: center; margin-top: 140px; margin-bottom: 80px; position: relative; overflow: hidden; height: 1901px;">
  <%= image_tag "static/skills.png", style: 'position: absolute; left: 50%; transform: translateX(-50%);' %>
</div>