<hr>
<h2><%= occupation.title %></h2>

<small class="text-muted">
  Distance score: <%= occupation.match_score %>
</small>

<p class="lead">
  <%= occupation.description %>
</p>

<table class="table-sm table-hover">
  <tr>
    <th></th>
    <th>Required Score</th>
    <th>Your Score</th>
    <th></th>
  </tr>
  <%- occupation.occupation_abilities.order(data_value: :desc).includes(:internal_ability).each do |ability| %>
    <%= occupation_ability_row(@user_abilities, ability) %>
  <%- end %>
</table>
