<div class="modal-shadow"></div>
<div class="modal results-modal">
  <div class="modal-inner-scrollable scroll-pane">
    <%= link_to profile_occupations_path do %>
       <img src="<%= asset_path 'static/gap-report-full.png' %>" alt="Results full" style="height: 7789px;">
    <%- end %>
  </div>
  <div class="modal-rbf-buttons">
    <a class="btn-default btn-transparent" href="#">Download as pdf</a>
    <%= link_to profile_occupations_path, class: 'btn-default' do %>
      Close
    <%- end %>
  </div>
</div>