<%= link_to fake_preview_fake_job_postings_path do %>
  <div class="full-width" style="text-align: center">
    <div style="position:relative; top: 300px">Link goes to preview page</div>
    <%#= image_tag "static/job-profile.png" %>
  </div>
<%- end %>
