<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>New Job Posting</h2>

      <%= render 'form', job_posting: @job_posting %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
   <div class="row">
     <div class="col-md-12">
       
        <%= link_to 'Create Job Posting', '#', class: 'btn-default', id: 'fake-create-button' %>
        <%= link_to 'Cancel', job_postings_path, class: 'link' %>

     </div>
   </div>
  </div>
</div>
