<div class="modal-shadow"></div>
<div class="modal">
  <div class="test-img">
    <img src="<%= asset_path 'test-main-image.jpg' %>" alt="Test main image">
  </div>
  
  <div class="test-block low-height">
    <div class="test-block-scrollable scroll-pane">
      <div class="utility clearfix">
        <div class="questions-number">6 questions</div>
      </div>
      <h4>You are about to start Numerical Reasoning Test.</h4>
      <p>On the left-hand side of your screen you will see some data, which may be presented as a table, graph, chart or text. Next to it, on the right-hand side, you will see a question related to that data.  Each question has 5 answer options, of which only one is correct. Please choose your answer carefully, press the button and the system will take you to the next question. If you think you have chosen a wrong answer you can go Back and correct it. You can display this Instruction by pressing the link at the bottom of the screen at any time </p>
      <p>You will have <span>10 minutes</span> to complete the test. Please keep an eye on the timer in the top right corner – it is showing how much time you have got left.</p>
    </div>
  </div>
  <%= link_to 'Start test', test_test_flow_path(@test) , class: 'btn-default btn-bottom-right'%>
  
  <div class="under-modal"><a href="#instructions" id="open-instructions">Instructions</a><a href="/tests">Cancel</a></div>
</div>

<div class="modal test-instructions" id="test-instructions">
  <h3>Instructions</h3>

  <p>Stick to timings &#8211; it&#8217;s very important. If you get stuck don&#8217;t panic, take a deep breath and move onto the next question. It&#8217;s important to remember that the easiest questions aren&#8217;t always at the start of the assessment. Psychometric test assessment are not typically negatively marked so you might want to consider taking a best guess and calmly progressing through the assessment. Many test publishers allow you to flag questions and go back and review them at the end of the assessment &#8211; if this functionality is available then it should be described in the instructions presented at the start of the assessment.</p>

  <p>After clicking &#8220;start test&#8221; your assessment will begin. If you have read the instructions carefully then the format of the question shouldn&#8217;t come as a surprise. Spend a couple of seconds familiarising yourself with the context of the question.</p>

  <p>Next read the first question carefully ensuring that you spend sufficient time making sure you understand what the question is asking.</p>
</div>
